CORS_ALLOW_ORIGINS=http://localhost:5173
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*

PORT=3000
LOG_LEVEL=info

DB_NAME=
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN_SECONDS=3600
AUTH_COOKIE_SECURE=false
